<div
  class="flex justify-start items-stretch max-w-[400px] border-[1px] rounded-md"
>
  <div class="w-36 h-44 bg-red-100 shrink-0 flex justify-center items-center">
    <mat-icon class="!text-[44px] !w-[44px] !h-[44px]">play_circle</mat-icon>
  </div>
  <div class="flex flex-col w-full">
    <div class="pt-3 flex-grow pl-4 flex flex-col">
      <p class="text-sm text-gray-500 font-semibold mb-3">
        React Series - 2024
      </p>
      <p class="text-[18px]">2. Getting Started with react js</p>
      <div class="flex-1"></div>
      <p class="text-[14px] text-gray-500 mb-2">Lecture &#9679; 6m left</p>
    </div>
    <mat-progress-bar
      mode="determinate"
      value="40"
      class="w-full"
    ></mat-progress-bar>
  </div>
</div>
