<mat-card
  class="!flex !w-full !flex-row !justify-between !items-center !p-2 !mb-2 !shadow-none !border !border-gray-300"
>
  <p class="truncate font-normal text-sm">This is a notification content Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore unde saepe itaque delectus blanditiis rerum eveniet, accusantium quisquam voluptas iusto enim repellendus, ratione ullam doloribus possimus nam quod reprehenderit?\</p>
  <button
    mat-icon-button
    class="!p-0 !w-[35px] !h-[35px] flex justify-center items-center !overflow-hidden"
  >
    <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">close</mat-icon>
  </button>
</mat-card>
