<mat-toolbar color="secondary" class="!h-[50px] !p-0 !bg-neutral-900">
  <div class="container mx-auto flex items-center">
    <button
      mat-icon-button
      class="!p-1 !w-[38px] !h-[38px] !flex !justify-center !items-center !mr-3"
    >
      <mat-icon class="!text-[22px] !w-[22px] !h-[22px] text-white">menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <span class="text-white">Ndotdev</span>
    </a>

    <span class="example-spacer"></span>
    <a
      [routerLink]="instructorPathCheck ? ['/'] : ['/instructor', 'dashboard']"
      class="text-sm mr-5 font-semibold"
    >
      {{ instructorPathCheck ? "Student" : "Instructor" }}
    </a>
    <a [routerLink]="['/cart']">
      <button
        mat-icon-button
        class="!p-1 !w-[38px] !h-[38px] !flex !justify-center !items-center !mr-5"
      >
        <mat-icon class="!text-[22px] !w-[22px] !h-[22px] text-white"
          >shopping_cart</mat-icon
        >
      </button>
    </a>
    <button
      mat-icon-button
      aria-label="notifications"
      (click)="notificationsOpen = !notificationsOpen"
      type="button"
      cdkOverlayOrigin
      #notificationTrigger="cdkOverlayOrigin"
      matBadge="2"
      matBadgeColor="primary"
      matBadgePosition="above"
      matBadgeSize="small"
      class="!p-1 !w-[38px] !h-[38px] !flex !justify-center !items-center !mr-5"
    >
      <mat-icon class="!text-[22px] !w-[22px] !h-[22px] text-white"
        >notifications</mat-icon
      >
    </button>

    <button
      style="background-color: deepskyblue; color: white"
      disableRipple
      mat-icon-button
      aria-label="notifications"
      (click)="profileMenuOpen = !profileMenuOpen"
      type="button"
      cdkOverlayOrigin
      #profileMenuTrigger="cdkOverlayOrigin"
      class="!p-1 !w-[32px] !h-[32px] !flex !justify-center !items-center"
    >
      <span class="!text-[18px] font-bold">N</span>
    </button>
  </div>
</mat-toolbar>

<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)="notificationsOpen = false"
  [cdkConnectedOverlayOrigin]="notificationTrigger"
  [cdkConnectedOverlayOpen]="notificationsOpen"
  [cdkConnectedOverlayFlexibleDimensions]="false"
  [cdkConnectedOverlayViewportMargin]="8"
  [cdkConnectedOverlayHasBackdrop]="false"
>
  <app-notifications-container></app-notifications-container>
</ng-template>
<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)="profileMenuOpen = false"
  [cdkConnectedOverlayOrigin]="profileMenuTrigger"
  [cdkConnectedOverlayOpen]="profileMenuOpen"
  [cdkConnectedOverlayFlexibleDimensions]="false"
  [cdkConnectedOverlayViewportMargin]="20"
  [cdkConnectedOverlayHasBackdrop]="false"
>
  <app-profile-menu></app-profile-menu>
</ng-template>
