<div class="container py-8">
  <p class="text-2xl font-semibold">Profile & Settings</p>
  <mat-divider class="!my-2"></mat-divider>
  <form>
    <div class="flex justify-start items-start flex-wrap w-full">
      <div class="flex flex-col justify-start items-start gap-2 w-1/2">
        <label for="profile_firstname" class="font-semibold text-[15px]">
          First Name
        </label>
        <input
          type="text"
          name="profile_firstname"
          id="profile_firstname"
          class="border-2 rounded-md p-2 w-5/6 text-[14px] font-medium"
          value="Jhon Doe"
        />
      </div>
      <div class="flex flex-col justify-start items-start gap-2 w-1/2">
        <label for="profile_firstname" class="font-semibold text-[15px]">
          Last Name
        </label>
        <input
          type="text"
          name="profile_firstname"
          id="profile_firstname"
          class="border-2 rounded-md p-2 w-5/6 text-[14px] font-medium"
          value="Jhon Doe"
        />
      </div>
    </div>
  </form>
</div>
