<div class="flex justify-start items-center w-full">
  <div class="flex justify-center items-center flex-1 w-14 h-full">
    <button
      (click)="slickModal.slickPrev()"
      class="flex items-center justify-center w-10 h-10 bg-neutral-700 rounded-full"
    >
      <mat-icon class="!text-[24px] !w-[24px] !h-[24px] text-white"
        >arrow_back_ios</mat-icon
      >
    </button>
  </div>

  <div class="w-full flex-auto overflow-hidden px-2">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
      <app-course ngxSlickItem></app-course>
    </ngx-slick-carousel>
  </div>

  <div class="flex justify-center items-center">
    <button
      (click)="slickModal.slickNext()"
      class="flex items-center justify-center w-10 h-10 bg-neutral-700 rounded-full"
    >
      <mat-icon class="!text-[24px] !w-[24px] !h-[24px] text-white"
        >arrow_forward_ios</mat-icon
      >
    </button>
  </div>
</div>
