<div class="flex flex-col w-[240px] p-2 bg-white rounded-lg shadow-md">
  <a [routerLink]="['/user', 'edit-user']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">person</mat-icon>
      <span>Account</span>
    </div>
  </a>
  <a [routerLink]="['/dashboard']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
  </a>
  <a [routerLink]="['/instructor', 'dashboard']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">pin</mat-icon>
      <span>Instructor Dashboard</span>
    </div>
  </a>
  <a [routerLink]="['/user', 'payment-methods']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">payments</mat-icon>
      <span>Payment Methods</span>
    </div>
  </a>
  <a [routerLink]="['/messages']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">chat</mat-icon>
      <span>Messages</span>
    </div>
  </a>
  <a [routerLink]="['/user/purchase-history']">
    <div
      class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
    >
      <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">history</mat-icon>
      <span>Purchase History</span>
    </div></a
  >
  <div
    class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
  >
    <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">public</mat-icon>
    <span>Language</span>
  </div>
  <div
    class="flex justify-start items-center gap-3 hover:bg-gray-200 p-1 mb-2 cursor-pointer rounded-md"
  >
    <mat-icon class="!text-[18px] !w-[18px] !h-[18px]">logout</mat-icon>
    <span>Logout</span>
  </div>
</div>
