<div class="flex justify-center items-center w-full relative">
  <div class="absolute top-0 left-0 z-50 flex justify-center items-center h-full">
    <button
      (click)="slickModal.slickPrev()"
      class="flex items-center justify-center w-10 h-10 bg-neutral-700 rounded-full"
    >
      <mat-icon class="!text-[24px] !w-[24px] !h-[24px] text-white !flex justify-center items-center"
        >arrow_back_ios</mat-icon
      >
    </button>
  </div>
  <div class="w-full flex-auto overflow-hidden px-2">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
      <app-continue-course ngxSlickItem [test]="'hello'"></app-continue-course>
    </ngx-slick-carousel>
  </div>
  <div class="absolute top-0 right-0 z-50 flex justify-center items-center h-full">
    <button
      (click)="slickModal.slickNext()"
      class="flex items-center justify-center w-10 h-10 bg-neutral-700 rounded-full"
    >
      <mat-icon class="!text-[24px] !w-[24px] !h-[24px] text-white"
        >arrow_forward_ios</mat-icon
      >
    </button>
  </div>
</div>
