<div
  class="flex flex-col justify-center items-center w-[270px] rounded-md overflow-hidden"
>
  <div class="w-full h-[200px] bg-blue-100"></div>
  <div class="flex flex-col justify-start items-start w-full gap-2">
    <p class="text-[16px]">React js Complete Course - 2024</p>
    <p class="text-sm text-neutral-400">this is just a test description</p>
    <div class="flex justify-start items-center gap-2">
      <p class="text-[16px] font-bold">4.6</p>
      <div class="flex justify-center items-center">
        <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">star</mat-icon>
        <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">star</mat-icon>
        <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">star</mat-icon>
        <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">star</mat-icon>
        <mat-icon class="!text-[16px] !w-[16px] !h-[16px]">star</mat-icon>
      </div>
      <p class="text-[12px] text-neutral-400">(123435)</p>
    </div>
    <div class="flex justify-start items-center gap-5">
      <p class="text-lg font-bold">$ 23.6</p>
      <p class="text-[16px] text-neutral-400 font-bold line-through">$ 23.6</p>
    </div>

    <mat-chip class="!bg-yellow-300 !rounded-md">Best Seller</mat-chip>
  </div>
</div>
